[diff]
    tool = vimdiff

[difftool]
    prompt = false

[alias]
    d = difftool

    # log views
    l = log --date=format:'%m-%d-%Y' --pretty=format:"%C(#ffce60)%h%C(reset)%x20%C(#5f87ff)%as%C(reset)%x20%C(#ffffff)%ae%C(reset)%x09%C(#8787af)%s%C(reset)%C(#d75f00)%d%C(reset)" -n 15
    ll = log --date=format:'%m-%d-%Y' --pretty=format:"%C(#ffce60)%h%C(reset)%x20%C(#5f87ff)%as%C(reset)%x20%C(#ffffff)%ae%C(reset)%x09%C(#8787af)%s%C(reset)%C(#d75f00)%d%C(reset)"
    log-diff = log --color -u

    # status and file displays
    s = status -uno
    st = status

    # pushing to remote end for first time
    publish = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    unpublish = !git push origin :$(git rev-parse --abbrev-ref HEAD)

    # compare two branches (requires my script)
    branchdiff = !sh git-branchdiff $@
    
    # wipe all currently unstage changes and files
    wipe = reset --hard HEAD

    # unstage ALL currently staged changes
    unstage = reset HEAD --
    
    # view all aliases
    aliases = !sh -c 'git config --get-regexp ^alias\\. | sort'

    # show origin repo URL
    origin = config --get remote.origin.url

[core]
    excludesfile = ~/.gitignore
    editor = vim

[pull]
    rebase = false

#[user]
    #name = "Your Name"
    #email = "Your Email Address"

