# Connor's Git Config

[core]
    excludesfile = ~/.gitignore
    editor = vim
    safecrlf = "warn"


# =============================== Diffs/Merges =============================== #
[diff]
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    tool = vimdiff


# ============================== Other Commands ============================== #
[pull]
    rebase = false


# ================================= Aliases ================================== #
[alias]
    d = difftool
    m = mergetool

    # shortened commands
    a = add
    c = commit
    cl = clone
    ps = push
    pl = pull

    # log views
    l = log --date=format:'%m-%d-%Y' --pretty=format:"%C(#ffce60)%h%C(reset)%x20%C(#5f87ff)%as%C(reset)%x20%C(#ffffff)%ae%C(reset)%x09%C(#8787af)%s%C(reset)%C(#d75f00)%d%C(reset)" -n 15
    ll = log --date=format:'%m-%d-%Y' --pretty=format:"%C(#ffce60)%h%C(reset)%x20%C(#5f87ff)%as%C(reset)%x20%C(#ffffff)%ae%C(reset)%x09%C(#8787af)%s%C(reset)%C(#d75f00)%d%C(reset)"
    log-diff = log --color -u

    # view changes for a particular commit
    commit-diff = "!__git_commit_diff() { commit=\"HEAD~1\"; if [ $# -ge 1 ]; then commit=\"$1\"; fi; git diff ${commit}~ ${commit}; }; __git_commit_diff | less"

    # shorthand status displays
    s = status -uno
    st = status

    # list all modified, deleted, and other files
    ls = "!git ls-files --modified --deleted --others $(git rev-parse --show-toplevel)"

    # list all modified files
    lsm = "!git ls-files --modified $(git rev-parse --show-toplevel)"
    ls-modified = lsm

    # "delete" a file, from git's perspective, without actually deleting it
    # from the filesystem
    delete = rm --cached
    del = delete

    # pushing to remote end for first time
    publish = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    unpublish = !git push origin :$(git rev-parse --abbrev-ref HEAD)

    # compare two branches (requires my script)
    branch-diff = !sh git-branchdiff $@
    
    # wipe all currently unstaged changes
    wipe = reset --hard HEAD

    # wipe all currently unstaged changes AND delete *all* untracked files
    nuke = !git reset --hard HEAD && git clean -f -d

    # unstage ALL currently staged changes
    unstage = reset HEAD --

    # view all aliases
    aliases = !sh -c 'git config --get-regexp ^alias\\. | sort'

    # show origin repo URL and repo top
    origin = config --get remote.origin.url
    top = rev-parse --show-toplevel

